<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
      
      <head>
        <title>Admin Home</title>
    </head>
    <body>
    
    	<div layout:fragment="content">
	        <p>Welcome Administrator(<span sec:authentication="principal.username">Admin</span>)</p>
	        <p sec:authorize="isAuthenticated()"></p>
	    


		<div class="list-group">
			<a href="#" class="list-group-item list-group-item-action active">Home</a>
			<a href="/admin/professors" class="list-group-item list-group-item-action">Professors Manager</a> 
			<a href="/admin/courses" class="list-group-item list-group-item-action">Course Manager</a>
			<a href="/admin/schedules" class="list-group-item list-group-item-action">Schedule Manager</a> 
			<a th:href="@{/logout}" class="list-group-item list-group-item-action">Logout</a>
		</div>
		
		
	    </div> 
		</body>
    
</html>