<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="ISO-8859-1">
<title>Edit Course</title>
</head>
<body>

<div layout:fragment="content">

<div class="card-body">
                <form th:action="@{/admin/courses/save}" th:object="${course}" method="post">
                  
                   <!--  <input type="hidden" th:field="*{professorId}" /> -->
                   
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Course Id</label>
                        <div class="col-sm-6">
                            
                            <input type="number" th:field="*{courseId}" readonly = "readonly">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Course Name</label>
                        <div class="col-sm-6">
                           
                            <input type="text" th:field="*{courseName}">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Max Quantity</label>
                        <div class="col-sm-6">
                           
                            <input type="text" th:field="*{maxQuantity}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Professor ID</label>
                        <div class="col-sm-6">
                           
                            <input type="number" th:field="*{professor.professorId}">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="exampleFormControlTextarea1">Description</label>
                        <div class="col-sm-6">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  th:field="*{description}"></textarea>
                    </div>
                    </div>
                 
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="submit" value="save" class="btn btn-outline-primary">
                            <a th:href="@{/admin/courses}" class="btn btn-outline-danger">Back</a>
                        </div>
                    </div>
                </form>
</div>
</div>

</body>
</html>