<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="ISO-8859-1">
<title>Professors List</title>
</head>
<body>
<div layout:fragment="content">

<table class="table table-striped">
			<thead>
				<tr>
					<th>Professor ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>DNI</th>
					<th>Enabled</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="professor: ${professorlist}">
					<td th:text="${professor.professorId}"></td>
					<td th:text="${professor.firstName}"></td>
					<td th:text="${professor.lastName}"></td>
					<td th:text="${professor.dni}"></td>
					<td th:text="${professor.enabled}"></td>
					<td>
					<a class="btn btn-primary btn-sm"
								th:href="@{/admin/professors/edit/} + ${professor.professorId}" th:text="'edit'"></a></td>
					
					<td><a class="btn btn-danger btn-sm"
								th:href="@{/admin/professors/delete/} + ${professor.professorId}" th:text="'delete'"
								onclick="return confirm('are you sure?');"></a></td>
					
				</tr>

			</tbody>
		</table>
		
		<a href="/admin/professors/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New Professor</a>
		<a href="/admin/home" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Back</a>

</div>

</body>
</html>