<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Course Description:</h5>
    <p class="card-text" th:text="${course}"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</body>
</html>