<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Course Description:</h5>
    <p class="card-text" th:text="${course}"></p>
    
    <table class="table table-striped">
			<thead>
				<tr>
					<th>Day</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="schedule: ${schedules}">
					<td th:text="${schedule.day}"></td>
					<td th:text="${schedule.time}"></td>	
				</tr>

			</tbody>
		</table>
    <a href="/student/courses" class="btn btn-primary">Back</a>
  </div>
</div>
</div>
</body>
</html>