<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
<div class="card" style="width: 40rem;">
  <div class="card-body">
 
    <h5 class="card-title">At the moment, you are join up to:</h5>
      
    <table class="table table-striped">
			<thead>
				<tr>
					<th>Course Name</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="studentcourse: ${courses}">
					<td th:text="${studentcourse.course.courseName}"></td>
						
				</tr>

			</tbody>
		</table>
    <a href="/student/courses" class="btn btn-primary">Back</a>
  </div>
</div>

</div>
</body>
</html>